<!DOCTYPE html >
<html>
  <head>

  </head>
  <body>
    <div>
        <mat-table #publicTrackListTable [dataSource]="dataSource" class="mat-elevation-z8" cdkDropList 
          cdkDropListData="dataSource"> 
        
          
        
        
          <ng-container matColumnDef="position" sticky>
            <mat-header-cell *matHeaderCellDef> No. </mat-header-cell>
            <mat-cell *matCellDef="let element">
                <!-- <mat-icon class="example-drag-cursor">reorder</mat-icon> -->
                <span>{{element.position}}</span>
            </mat-cell>
          </ng-container>
        
          <ng-container matColumnDef="songname">
            <mat-header-cell *matHeaderCellDef> Song Name </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.songTitle}} </mat-cell>
          </ng-container>
        
          <ng-container matColumnDef="duration">
            <mat-header-cell *matHeaderCellDef> Duration </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.realTime}} </mat-cell>
          </ng-container>
        
          <ng-container matColumnDef="requestedby">
            <mat-header-cell *matHeaderCellDef> Requested By </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.requestedBy}} </mat-cell>
          </ng-container>
        
          <ng-container matColumnDef="channeltitle">
            <mat-header-cell *matHeaderCellDef> Channel Title </mat-header-cell>
            <mat-cell *matCellDef="let element">{{element.channelTitle}}</mat-cell>
          </ng-container>
        
          <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
          <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
        </mat-table>
        </div>
        
  </body>
</html>